<h1>
    Johnny Chen's Judgy Cat | ITIS3135 
</h1>
        <nav>
            <a href="./">Home</a>
            |
            <a href="introduction.html">Introduction</a>
            |
            <a href="contract.html">Contract</a>
            |
            <a href="judgycatWP/index.html">Wimsicle Page</a>
            |
            <a href="stuff/iNdex.html">Crappy Page</a>
            |
            <a href="websiteEvluation/websiteevaluations.html">Website Evaluations</a>
            |
            <a href="FCC/fccfsjs_outline.html">FCC Full Stack JavaScript Outline</a>
            |
            <a href="hobby/basketball.html"> Hobby Page</a>
        </nav>